#### 10. 行数のカウント 
#### 行数をカウントせよ．確認にはwcコマンドを用いよ．

In [11]:
import pandas as pd
 
df = pd.read_table("popular-names.txt", header=None)
print(df.shape[0])

2780

In [10]:
!wc -l < popular-names.txt

2780

In [12]:
df

              0  1      2     3
0          Mary  F   7065  1880
1          Anna  F   2604  1880
2          Emma  F   2003  1880
3     Elizabeth  F   1939  1880
4        Minnie  F   1746  1880
...         ... ..    ...   ...
2775   Benjamin  M  13381  2018
2776     Elijah  M  12886  2018
2777      Lucas  M  12585  2018
2778      Mason  M  12435  2018
2779      Logan  M  12352  2018

[2780 rows x 4 columns]