In [1]:
import pandas as pd

df = pd.read_table("popular-names.txt", header=None)

In [3]:
ｄｆ.tail(10)

             0  1      2     3
2770      Liam  M  19837  2018
2771      Noah  M  18267  2018
2772   William  M  14516  2018
2773     James  M  13525  2018
2774    Oliver  M  13389  2018
2775  Benjamin  M  13381  2018
2776    Elijah  M  12886  2018
2777     Lucas  M  12585  2018
2778     Mason  M  12435  2018
2779     Logan  M  12352  2018

In [4]:
!tail -n 10 popular-names.txt

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018